:root {
  --primariColor: #757575;
  --secondaryColor: #2196F3;
}
.list {
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primariColor);
}
a {
  text-decoration: none;
}
/* Шапка сайта */
.header {
  display: flex;
}


/* НАвигация */
.nav {
  display: flex;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  margin-right: 93px;
}
.logo span {
  color: var(--secondaryColor);
}
.nav__links {
  display: flex;
}

.nav__link-active {
  color: var(--secondaryColor);
}
.header__contacts {
  display: flex;
}

